@use '../abstract/index' as *;

.arrow__up {
    @include position(fixed, auto, 20px, 20px, auto, 45px, 45px);
    background-color: $primary-color;
    color: $white;

    line-height: 45px !important;
    border-radius: 50%;
    text-align: center;
    border: 2px solid $primary-color;
    transform: translateX(200px);
    transition: 0.4s linear;
    cursor: pointer;

    &:hover{
        color: $primary-color;

        background: transparent;
    }

    &.active{ transform: translateX(0); }
}