@use "../abstract/index" as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  text-decoration: none;
  border: none;
  outline: none;
  resize: none;
  font-family: "Poppins", sans-serif;
}

body {
  font-size: 100%;
  overflow-x: hidden;
  line-height: 1.4;
  color: $text-color;

  @include rwd(576) { ont-size: 85%; }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
  color: $headings-color;
}

img {
  max-width: 100%;
  object-fit: cover;
  vertical-align: middle;
}

section { padding: 70px 0; }

a {
  transition: 0.4s linear;
}

ul { list-style-type: none;}