@use "../abstract/index" as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  text-decoration: none;
  border: none;
  outline: none;
  resize: none;
  font-family: "Poppins", sans-serif;
}

body {
  color: $text-color;

  font-size: 100%;
  overflow-x: hidden;
  line-height: 1.4;

  @include rwd(576) { font-size: 85%; }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $headings-color;

  font-family: "Playfair Display", serif;
}

img {
  max-width: 100%;
  object-fit: cover;
  vertical-align: middle;
}

section { 
  padding: 70px 0;
  scroll-margin-top:70px;
 }

a {
  transition: 0.4s linear;

  &:focus-visible {
    text-decoration: underline;
    outline: 1px dashed $primary-color;
  }
}

ul { list-style-type: none;}