@use "../abstract/index" as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  list-style-type: none;
  text-decoration: none;
  border: none;
  outline: none;
  resize: none;
}

body {
  font-size: 100%;
  overflow-x: hidden;
  line-height: 1.4;
  color: $text-color;
  font-family: "Poppins", sans-serif;

  @include rwd(576) {
    font-size: 85%;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: capitalize;
  text-wrap: balance;
}

img {
  max-width: 100%;
  object-fit: cover;
  vertical-align: middle;
}

section {
  padding: 70px 0;
}

a {
  transition: 0.4s linear;
}