@use '../abstract/index' as *;

.cta{
    background:linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('../../src/img/hero-bg.webp');
    background-size: cover;
    background-position: center;
    text-align: center;
  
    &__heading{ @include section-title; }
  
    &__wrapper{
      border: 2px solid $primary-color;
      padding: 3rem 2rem;
    }
  
    &__container{
      margin: 3rem 0;
      align-self: stretch;
      display: flex;
      flex-direction: column;
      gap: 3rem;
    }
  
    &__title{
      color: $white;
  
      font-size: 2rem;
      margin-bottom: 1rem;
    }
  
    &__desc{
      color: $white;
  
      text-transform: uppercase;
      font-size: 500;
    }
  
    &__btn{ @include btn;}
  }