@use '../abstract/index' as *;

.nav{
    @include flex(space-between, center);
    background-color: #1d1d1d;
    padding: 0.8rem 10%;

    @include rwd(992){ 
        @include position(fixed, 0, auto, auto, 0, 100%);
        z-index: 900;
        overflow: hidden;
    }

    &__img{
        width: 180px;
        height: 80px;
    }
     
    &__list{
        display: flex;
        gap: 1rem;

        @include rwd(992){
            @include position(fixed, 0, auto, auto, 0, 100%, 100%);
            background: rgba(0,0,0,0.85);
            z-index: 999;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            transform: translateX(-100%);
            transition: 0.4s transform linear;
        }

        &.active{ transform: translateX(0);}
    }

    &__link{
        color: $white;

        &:hover{ color: $primary-color; }
    }

    &__hamburger,
    &__close{
        color: $primary-color;

        display: none !important;
        font-size: 2rem;
        cursor: pointer;

        @include rwd(992){ display: block !important; }
    }

    &__close{
        position: absolute;
        top: 1rem;
        right: 1rem;
    }
}