@use '../abstract/index' as *;

.nav{
    @include flex(space-between, center);
    background-color: #1d1d1d;
    padding: 1rem 10%;

    @include rwd(1200){ 
        @include position(fixed, 0, auto, auto, 0, 100%);
        z-index: 900;
    }

    &__logo{ 
        color: $primary-color;

        text-transform: uppercase;
        font-size: 3rem;
    }

    &__list{
        display: flex;
        gap: 1rem;

        @include rwd(992){
            @include position(fixed, 0, auto, auot, 0, 100%, 100%);
            background: rgba(0,0,0,0.85);
            z-index: 999;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            transform: translateX(-100%);
            transition: 0.4s linear;
        }

        &.active{ transform: translateX(0);}
    }

    &__link{
        color: $white;

        &:hover{ color: $primary-color; }
    }

    &__hamburger{
        display: none !important;
        font-size: 2rem;
        cursor: pointer;

        @include rwd(992){ display: block !important; }
    }

    &__close{
        @include position(absolute, 10%, auto, auto, 50%);
        color: $primary-color;

        font-size: 2rem;
        cursor: pointer;
        display: none !important;

        @include rwd(992){ display: block !important; }
    }
}