* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  text-decoration: none;
  border: none;
  outline: none;
  resize: none;
  font-family: "Poppins", sans-serif;
}

body {
  color: #c4c4c4;
  font-size: 100%;
  overflow-x: hidden;
  line-height: 1.4;
}
@media (max-width: 576px) {
  body {
    font-size: 85%;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #272727;
  font-family: "Playfair Display", serif;
}

img {
  max-width: 100%;
  vertical-align: middle;
  object-fit: cover;
}

section {
  padding: 70px 0;
  scroll-margin-top: 70px;
}

a {
  transition: 0.4s linear;
}
a:focus-visible {
  text-decoration: underline;
  outline: 1px dashed #b2976c;
}

ul {
  list-style-type: none;
}

.container {
  width: 70%;
  margin: auto;
}
@media (max-width: 576px) {
  .container {
    width: 80%;
  }
}

.dots {
  position: fixed;
  top: 50%;
  right: 2rem;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media (max-width: 768px) {
  .dots {
    display: none;
  }
}
.dots__link {
  background-color: #c4c4c4;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.dots__link.active, .dots__link:hover {
  background-color: #b2976c;
  border: 3px solid #b2976c;
  outline: 2px solid #b2976c;
}

.section-title {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}
@media (max-width: 576px) {
  .section-title {
    font-size: 1.8rem;
  }
}
.section-title::after {
  background-color: #b2976c;
  display: block;
  content: "";
  height: 4px;
  width: 50px;
}

.policy {
  color: #000;
}
.policy__heading {
  font-size: 2rem;
  margin-bottom: 2rem;
}
.policy__list {
  list-style-type: circle;
  padding-left: 2rem;
  margin-bottom: 1.5rem;
}
.policy__text {
  line-height: 1.6;
}
.policy__text:not(:last-child) {
  margin-bottom: 1.5rem;
}
.policy__link {
  color: #000;
  text-decoration: underline;
}
.policy__link:hover {
  color: #b2976c;
}

.nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column;
  gap: 1rem;
  background-color: #1d1d1d;
  padding: 1rem 10%;
}
@media (max-width: 992px) {
  .nav {
    position: fixed;
    top: 0;
    right: auto;
    bottom: auto;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 900;
    overflow: hidden;
    flex-direction: row;
    justify-content: space-between;
  }
}
.nav__img {
  width: 180px;
  height: 80px;
}
.nav__list {
  display: flex;
  gap: 1rem;
}
@media (max-width: 992px) {
  .nav__list {
    position: fixed;
    top: 0;
    right: auto;
    bottom: auto;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.85);
    z-index: 999;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateX(-100%);
    transition: 0.4s transform linear;
  }
}
.nav__list.active {
  transform: translateX(0);
}
.nav__link {
  color: #fff;
}
.nav__link:hover {
  color: #b2976c;
}
.nav__hamburger, .nav__close {
  color: #b2976c;
  display: none !important;
  font-size: 2rem;
  cursor: pointer;
}
@media (max-width: 992px) {
  .nav__hamburger, .nav__close {
    display: block !important;
  }
}
.nav__close {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.hero {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row nowrap;
  gap: 0;
  background-color: #c4c4c4;
  color: #fff;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../../src/img/hero-bg.webp");
  background-size: cover;
  padding: 0;
  height: 100vh;
}
.hero--sm {
  justify-content: center;
  height: 50vh;
}
@media (max-width: 992px) {
  .hero--sm {
    height: 70vh !important;
  }
}
@media (max-width: 992px) {
  .hero {
    height: 110vh;
  }
}
.hero__wrapper {
  padding: 0 5%;
}
.hero__heading {
  color: #fff;
  font-size: 3rem;
  margin-bottom: 1rem;
  display: inline-block;
}
.hero__heading::after {
  background-color: #b2976c;
  display: block;
  content: "";
  width: 100%;
  height: 4px;
}
@media (max-width: 1200px) {
  .hero__heading {
    max-width: 750px;
  }
}
@media (max-width: 576px) {
  .hero__heading {
    font-size: 2rem;
  }
}
.hero__name {
  color: #b2976c;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
@media (max-width: 1200px) {
  .hero__name {
    font-size: 1rem;
  }
}
.hero__quote {
  font-size: 1.2rem;
}

.about {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../../src/img/hero-bg.webp");
  background-size: cover;
}
.about__heading {
  color: #fff;
  text-align: center;
}
.about__heading::after {
  margin: 0.5rem auto 0;
}
.about__heading span {
  color: #b2976c;
}
.about__item--img {
  display: none;
}
@media (max-width: 1200px) {
  .about__item--img {
    display: block;
  }
}
.about__img {
  width: 300px;
  height: 500px;
}
.about__text {
  color: #fff;
  line-height: 1.7;
  margin-bottom: 1rem;
}

.services__heading {
  color: #272727;
  text-align: center;
}
.services__heading::after {
  margin: 0.5rem auto 0;
}
.services__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-flow: wrap;
  gap: 0;
  margin: 4rem 0 2rem;
  row-gap: 5rem;
}
.services__item {
  flex: 0 0 30%;
}
@media (max-width: 1200px) {
  .services__item {
    flex: 0 0 45%;
  }
}
@media (max-width: 992px) {
  .services__item {
    flex: 0 0 100%;
  }
}
.services__picture {
  position: relative;
}
.services__picture::after {
  position: absolute;
  top: 0;
  right: auto;
  bottom: auto;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}
.services__img {
  height: 200px;
  width: 100%;
}
@media (max-width: 992px) {
  .services__img {
    height: 300px;
  }
}
.services__title {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  margin-top: 1.5rem;
}
.services__desc {
  margin: 20px 0;
  color: #6d6d6d;
  text-align: justify;
}
.services__link {
  color: #000;
  display: inline-block;
  vertical-align: middle;
  font-size: 0.7rem;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.services__link:hover {
  color: #b2976c;
}

.cta {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../../src/img/hero-bg.webp");
  background-size: cover;
  background-position: center;
  text-align: center;
}
.cta__heading {
  color: #fff;
  text-align: center;
}
.cta__heading::after {
  margin: 0.5rem auto 0;
}
.cta__wrapper {
  border: 2px solid #b2976c;
  padding: 3rem 2rem;
}
.cta__container {
  margin: 3rem 0;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.cta__title {
  color: #fff;
  font-size: 2rem;
  margin-bottom: 1rem;
}
.cta__desc {
  color: #fff;
  text-transform: uppercase;
  font-size: 500;
}

.contact {
  display: flex;
  padding: 0;
}
@media (max-width: 992px) {
  .contact {
    flex-direction: column;
  }
}
.contact__item {
  flex: 1;
  padding: 70px 5%;
}
.contact__item--info {
  background-color: #f5f5f5;
}
.contact__item--form {
  background-color: #fff;
}
.contact__heading {
  color: #272727;
  text-align: left;
}
.contact__heading::after {
  margin: 0.5rem 0;
}
.contact__link {
  color: #000;
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  display: block;
}
.contact__link:hover {
  text-decoration: underline;
}
@media (max-width: 576px) {
  .contact__link {
    font-size: 1.2rem;
  }
}
.contact__social {
  color: #6c6c6c;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.contact__social .fa-solid {
  color: #b2976c;
}
.contact__text {
  line-height: 1.6;
  color: #6c6c6c;
  margin-top: 1.5rem;
  max-width: 450px;
}
.contact__form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.contact__box {
  display: flex;
  gap: 1rem;
}
@media (max-width: 576px) {
  .contact__box {
    flex-direction: column;
  }
}
.contact__input {
  background-color: #f5f5f5;
  font-size: 0.9rem;
  padding: 1.3rem;
  width: 100%;
}
.contact textarea {
  height: 150px;
}
.contact__btn {
  color: #272727 !important;
}

.footer {
  color: #fff;
  padding: 70px 0 0;
  background-color: #1d1d1d;
}
.footer__wrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2rem;
  row-gap: 2rem;
}
@media (max-width: 1200px) {
  .footer__wrapper {
    flex-direction: column;
  }
}
.footer__item {
  flex: 0 0 22%;
}
.footer__heading {
  color: #fff;
  margin-bottom: 1.8rem;
  font-size: 1.5rem;
}
.footer__heading::after {
  background-color: #b2976c;
  margin: 0.5rem 0;
  display: block;
  content: "";
  height: 5px;
  width: 50px;
}
.footer__list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.footer__list--space li {
  display: flex;
  justify-content: space-between;
}
.footer__list .fa-solid,
.footer__list .fa-brands {
  color: #b2976c;
}
.footer__link {
  color: #fff;
}
.footer__link:hover {
  color: #b2976c;
}
.footer__link--small {
  font-size: 0.7rem;
}
.footer__copyright {
  padding: 1rem 0;
  border-top: 1px solid #b2976c;
}

.service__heading {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 3rem;
}
.service__wrapper {
  color: #000;
  display: flex;
  gap: 3rem;
  align-items: flex-start;
}
@media (max-width: 992px) {
  .service__wrapper {
    flex-direction: column;
  }
}
.service__item {
  flex: 3;
}
.service__item--aside {
  flex: 1;
}
.service__img {
  height: 300px;
  width: 100%;
}
.service__subtitle {
  text-transform: uppercase;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
.service__text {
  line-height: 1.7;
  margin-bottom: 1.5rem;
  text-align: justify;
}
.service__text--divider {
  margin-top: 1.5rem;
}
.service__text--bold {
  font-weight: 700;
}
.service__text--italic {
  font-style: italic;
}
.service__text span {
  font-weight: 700;
}
.service__list {
  margin-bottom: 1.5rem;
  text-align: justify;
}
.service__list--italic {
  font-style: italic;
}
.service__list span {
  font-weight: bold;
}
.service__list li {
  padding-left: 1rem;
  border-left: 2px solid #b2976c;
}
.service__list li:not(:last-child) {
  margin-bottom: 1rem;
}
.service__list li span {
  font-weight: 700;
}
.service__link {
  color: #000 !important;
}
.service__link:hover {
  color: #b2976c;
}
.service__link--underline {
  text-decoration: underline;
  color: #b2976c;
}
.service__btn {
  color: #000 !important;
}

.blog-grid {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-flow: wrap;
  gap: 0;
  row-gap: 3rem;
}
.blog-grid__item {
  flex: 0 0 30%;
}
@media (max-width: 1200px) {
  .blog-grid__item {
    flex: 0 0 47%;
  }
}
@media (max-width: 768px) {
  .blog-grid__item {
    flex: 0 0 100%;
  }
}
.blog-grid__img {
  overflow: hidden;
}
.blog-grid__img:hover > img {
  transform: scale(1.2);
}
.blog-grid__img img {
  width: 100%;
  height: 100%;
  transition: 0.4s linear;
}
.blog-grid__body {
  color: #000;
  padding: 2rem 1.5rem;
  background-color: #f7f7f7 !important;
}
.blog-grid__title {
  color: #272727;
  font-weight: 700;
  display: block;
  font-size: 1.3rem;
  margin-bottom: 1rem;
}
.blog-grid__title:hover {
  color: #b2976c;
}
.blog-grid__desc {
  font-size: 0.9rem;
}
.blog-grid__link {
  color: #272727;
  text-decoration: underline;
  display: block;
  margin-top: 1rem;
}
.blog-grid__link:hover {
  color: #b2976c;
}
.blog-grid__date {
  font-size: 0.8rem;
}

.post {
  color: #000;
}
.post__img {
  width: 100%;
  height: 400px;
}
.post__heading {
  font-size: 1.5rem;
  margin: 1.5rem 0;
}
@media (max-width: 576px) {
  .post__heading {
    font-size: 1.2rem;
  }
}
.post__text {
  line-height: 1.7;
  text-align: justify;
  margin-top: 1rem;
}
.post__list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-left: 2rem;
  list-style-type: square;
  margin-top: 1rem;
}
.post__link {
  color: #000;
  text-decoration: underline;
}
.post__link:hover {
  color: #b2976c;
}

.arrow__up {
  position: fixed;
  top: auto;
  right: 20px;
  bottom: 20px;
  left: auto;
  width: 45px;
  height: 45px;
  background-color: #b2976c;
  color: #fff;
  line-height: 45px !important;
  border-radius: 50%;
  text-align: center;
  border: 2px solid #b2976c;
  transform: translateX(200px);
  transition: 0.4s linear;
  cursor: pointer;
}
.arrow__up:hover {
  color: #b2976c;
  background: transparent;
}
.arrow__up.active {
  transform: translateX(0);
}

.btn {
  color: #fff;
  background: transparent;
  text-transform: uppercase;
  cursor: pointer;
  padding: 1rem;
  font-weight: 700;
  transition: 0.4s linear;
  display: inline-block;
  margin-top: 1rem;
  border: 2px solid #b2976c;
}
.btn:hover {
  background-color: #b2976c;
  color: #fff;
}
@media (max-width: 576px) {
  .btn {
    font-size: 0.9rem;
  }
}

/*# sourceMappingURL=main.css.map */
