* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  list-style-type: none;
  text-decoration: none;
  border: none;
  outline: none;
  resize: none;
  font-family: "Poppins", sans-serif;
}

body {
  font-size: 100%;
  overflow-x: hidden;
  line-height: 1.4;
  color: #c4c4c4;
}
@media (max-width: 576px) {
  body {
    ont-size: 85%;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
  color: #272727;
}

img {
  max-width: 100%;
  object-fit: cover;
  vertical-align: middle;
}

section {
  padding: 70px 0;
}

a {
  transition: 0.4s linear;
}

.container {
  width: 70%;
  margin: auto;
}
@media (max-width: 576px) {
  .container {
    width: 80%;
  }
}

.dots {
  position: fixed;
  top: 50%;
  right: 2rem;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media (max-width: 768px) {
  .dots {
    display: none;
  }
}
.dots__link {
  background-color: #c4c4c4;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.dots__link.active, .dots__link:hover {
  background-color: #b2976c;
  border: 3px solid #b2976c;
  outline: 2px solid #b2976c;
}

.hero {
  color: #fff;
  padding: 0;
  display: flex;
  height: 100vh;
}
.hero__item {
  flex: 1;
}
.hero__item--bg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../../src/img/hero-bg.webp");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
@media (max-width: 1200px) {
  .hero__item--hidden {
    display: none;
  }
}
.hero__img {
  height: 100%;
  width: 100%;
}
.hero__wrapper {
  padding: 0 5%;
}
.hero__heading {
  color: #fff;
  font-size: 3rem;
  margin-bottom: 1rem;
}
@media (max-width: 1200px) {
  .hero__heading {
    max-width: 750px;
  }
}
@media (max-width: 576px) {
  .hero__heading {
    font-size: 2rem;
  }
}
.hero__name {
  color: #b2976c;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.hero__quote {
  font-size: 1.2rem;
}
.hero__btn {
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  padding: 1rem;
  font-weight: 700;
  border: 2px solid #b2976c;
  display: inline-block;
  margin-top: 1.5rem;
}
.hero__btn:hover {
  background: transparent;
  color: #b2976c;
}

.contact {
  display: flex;
  padding: 0;
}
@media (max-width: 992px) {
  .contact {
    flex-direction: column;
  }
}
.contact__item {
  flex: 1;
  padding: 70px 5%;
}
.contact__item--info {
  background-color: #f5f5f5;
}
.contact__item--form {
  background-color: #fff;
}
.contact__heading {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}
.contact__heading::after {
  background-color: #b2976c;
  margin-top: 0.5rem;
  display: block;
  content: "";
  height: 5px;
  width: 50px;
}
@media (max-width: 576px) {
  .contact__heading {
    font-size: 1.8rem;
  }
}
.contact__link {
  color: #b2976c;
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  display: block;
}
.contact__link:hover {
  text-decoration: underline;
}
@media (max-width: 576px) {
  .contact__link {
    font-size: 1.2rem;
  }
}
.contact__social {
  color: #6c6c6c;
  margin-bottom: 1rem;
}
.contact__social .fa-solid {
  color: #b2976c;
  margin-right: 0.5rem;
}
.contact__text {
  line-height: 1.6;
  color: #6c6c6c;
  margin-top: 1.5rem;
  max-width: 450px;
}
.contact__form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.contact__box {
  display: flex;
  gap: 1rem;
}
@media (max-width: 576px) {
  .contact__box {
    flex-direction: column;
  }
}
.contact__input {
  background-color: #f5f5f5;
  font-size: 0.9rem;
  padding: 1.3rem;
  width: 100%;
}
.contact textarea {
  height: 150px;
}
.contact__btn {
  background-color: #b2976c;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  padding: 1.3rem;
  font-weight: 700;
  border: 2px solid #b2976c;
  transition: 0.4s linear;
}
.contact__btn:hover {
  background: transparent;
  color: #b2976c;
}

.service {
  display: flex;
  gap: 3rem;
  align-items: flex-start;
}
@media (max-width: 992px) {
  .service {
    flex-direction: column;
  }
}
.service__item {
  flex: 3;
}
.service__item--aside {
  flex: 1;
}
@media (max-width: 992px) {
  .service__item--aside {
    order: 3;
  }
}
.service__title {
  color: #b2976c;
  margin-bottom: 2rem;
}
.service__subtitle {
  color: #b2976c;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 2px;
  margin-bottom: 1rem;
}
.service__text {
  color: #555;
  line-height: 1.7;
  margin-bottom: 1.5rem;
  text-align: justify;
}
.service__text--divider {
  margin-top: 1.5rem;
}
.service__list {
  color: #555;
  margin-bottom: 1.5rem;
  text-align: justify;
}
.service__list span {
  font-weight: bold;
}
.service__list li {
  padding-left: 1rem;
  border-left: 2px solid #b2976c;
}
.service__list li:not(:last-child) {
  margin-bottom: 1rem;
}
.service__link {
  color: #b2976c;
}
.service__link:hover {
  color: #b2976c;
}

/*# sourceMappingURL=main.css.map */
